<!DOCTYPE html>
<html>
<head>
  <title>Todo App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "reset", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbolinks-track": "reload" %>
</head>

<body>
  <header>
    <h1>Welcome to the Todo App</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tasks">Tasks</a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
    <p>&copy; 2025 Todo App - Learning Ruby on Rails</p>
  </footer>
</body>
</html>
